{% extends "CovoiturageBundle:Covoiturage:Layout.html.twig" %}
{% block content %}

    <form align="center">



                <label>Départ</label>
                    <input type="text" id="depart" >

                <label>Arrivée</label>
                <input type="text" id="arrivee" >
                 <label>date</label>
                <input type="date" id="date" >

            <button type="submit" >Rechrecher</button>

    </form>


{% endblock %}