{% extends "PiEspritCovoiturageBundle:Covoiturage:Layout.html.twig" %}


{% block content %}


    <H1>En voiture !</H1>
    <h3>Prenez la route en bonne compagnie.</h3>

    <form align="center">




        <table class="table table-striped table-hover ">
            <tr class="info">

                <td> <input type="text" class="form-control" placeholder="Départ"></td>


                <td> <input type="text" class="form-control" placeholder="Arrivé"></td>


                <td> <input type="date" class="form-control" id="date" ></td>



                <td> <button type="submit" class="btn btn-default">Chercher un trajet</button></td>
            </tr>
        </table>

    </form>
    </br>




{% endblock %}